@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Krub:wght@200&family=Lora&family=Montserrat:wght@400;500&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto&family=Rubik:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary_blue_color: rgb(21, 49, 82);
  --secondary_blue_color: rgb(22, 78, 141);
  /* --secondary_blue_color: rgb(64, 131, 207); */
}
/* UTILITIES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img_bg {
  background: url("./images/showcaseImg.jpg") no-repeat;
}
body {
  background-color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 764px) {
  .img_bg {
    background-image: none;
  }
}
